.background {

}
.picture {
  border-color: blue;
  border-width: thick;
  border-style: solid;

}
.headerButtons{
  color: LightSalmon;
  background-color: Navy;
  border: blue, thick, solid;

  font-size: 50px
}
