/*color Palette codes
Navy: color:#34495E;
Light Blue: color:#7FB3D5;
Light Coral: color:#F1948A;
Dark Coral: color:#CD6155;
Teal: color:#45B39D;
Purple: color:#512E5F;
*/
body{
  background-color:#7FB3D5;
}
.picture {
  border-color: #FFF;
  border-radius:100%;
  border-style: solid;

}
.headerList{
  width:100%;

}
h1{
  color:#34495E;
}
nav li{
  color: #CD6155;
  background-color: #34495E;
  list-style: none;
  font-size: 20px;
  margin:auto;
  width:auto;
  padding:10px;
  border-radius: 10px;
  text-align:center;
  font-family: 'dekko', cursive, sans-serif;
  text-decoration:none;
}
.button:hover{
  color:#F1948A;
}
.button.1{

}
.button.2{

}
.button.3{

}
h1{
  font-family: 'dekko', cursive; sans-serif;
  font-size: 50px;
  font-variant-caps: small-caps;
}
li{
  display:inline-block;
  padding: span;
}
