.background {

}
.picture {
  border-color: #FFF;
  border-radius:100%;
  border-style: solid;

}
.headerList{
  width:100%;

}
.button{
  color: #FF5A5A;
  background-color: #00458B;
  list-style: none;
  font-size: 20px;
  margin:auto;
  width:auto;
  padding:10px;
  border-radius: 10px;
  text-align:center;
  font-family: 'dekko', cursive, sans serif;
}
.button.1{

}
.button.2{

}
.button.3{

}
h1{
  font-family: 'dekko', cursive; sans-serif;
  font-size: 50px;
  font-variant-caps: small-caps;
}
li{
  display:inline-block;
  padding: span;
}
